@page "/"

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Design.css">
</head>
<body>
    <div class="bg">
        <div class="bar"> 
            <img class="logo" src="/Assets/images/logo.png" />
            <div class="subbar">
                 <p class="bartext">THE WEBSITE EVER!</p>
                 <div class="socialbar">
                    <button class="socials" @onclick="() => Open(0)">Socials</button>
                    <button class="socials" @onclick="() => Open(1)">About</button>
                    <button class="socials" @onclick="() => Open(2)">Projects</button>
                 </div>
                @code {
                    bool SocialsV = true;
                    bool AboutV = false;
                    bool ProjectsV = true;
                    void Open(Int32 pg)
                    {
                        SocialsV = true;
                        AboutV = true;
                        ProjectsV = true;
                        switch(pg) 
                        {
                            case 0:
                                SocialsV = false;
                                break;
                            case 1:
                                AboutV = false;
                                break;
                            case 2:
                                ProjectsV = false;
                                break;
                        }

                    }
                 }
            </div>    
        </div>
        
        <div class="SocialTab" hidden="@SocialsV">
            <div class="SocialItem"> <img class="socials" src="/Assets/images/yt.png" /> <a class="Hyperlink" target="_blank" href="https://www.youtube.com/channel/UCoSnfKmZbrKasT_nKvemI0g">YouTube</a> </div>
            <div class="SocialItem"> <img class="socials" src="/Assets/images/itch.png" /> <a class="Hyperlink" target="_blank" href="https://imkjet.itch.io/">Itch.io</a> </div>
        </div>
        <div class="SocialTab" hidden="@AboutV">
            <h1>Welcome.</h1>
            <p class="ct">There isn't much to say about this website.</p>
            <p class="ct">It was made mostly for fun and as a web development exercise for myself.</p>
            <p class="ct">This is my first website and I haven't done any research in web design so it might not look the best.</p>
            <p class="ct">This website was built using the Blazor Framework and .net 7.0</p>
        </div>
        <div hidden="@ProjectsV">

        </div>
    </div>
</body>
</html>