@page "/"

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Design.css">
</head>
<body>
    <div class="bg">
        <div class="bar"> 
            <img class="logo" src="/Assets/images/logo.png" />
            <div class="subbar">
                 <p class="bartext">THE WEBSITE EVER!</p>
                 <div class="socialbar">
                    <button class="socials">Socials</button>
                    <button class="socials">About</button>
                    <button class="socials">Projects</button>
                 </div>
            </div>    
        </div>
        
        <div class="SocialTab">

        </div>

        
    </div>
</body>
</html>